html,
body {
  height: 100%;
  background-color: #f1f1f1;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --leaphy-color-primary: #06778f;
  --leaphy-color-secundary: #32a5a9;
  --leaphy-color-light: #ffffff;
}

