.container {
    background-color: var(--leaphy-color-primary);
    height: 64px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}